:host {
    display: grid;
    background: var(--b-background);
    grid-template-rows: auto auto 1fr;
}

mat-toolbar-row {
    justify-content: center;
    mat-icon {
        font-size: 40px;
        width: auto;
        height: auto;    
    }

    span {
        font-size: 32px;
        margin-left: 16px;
    }
}

mat-card {
    margin: 8px;
}

