@import '~@angular/material/theming';

$plt-primary: mat-palette($mat-brown);
$plt-accent: mat-palette($mat-green, A200, A100, A400);
$plt-warn: mat-palette($mat-red);

$theme: mat-light-theme($plt-primary, $plt-accent, $plt-warn);

$plt-primary-contrast: map-get($plt-primary, contrast);
$plt-accent-contrast: map-get($plt-accent, contrast);
$plt-warn-contrast: map-get($plt-warn, contrast);
$plt-background: map-get($theme, background);
$plt-foreground: map-get($theme, foreground);


