@import '~@angular/material/theming';
@import 'common';

@include mat-core();
@include angular-material-theme($theme);

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    display: grid;
}
