.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

span {
    display: block;
    background: lightgray;
    margin: 4px;
    padding: 4px;
}

img {
    height: 32px;
    padding: 8px;
}