<mat-card class="main-card" *ngIf="(currentQuestion$ | async) as question">    
    <mat-card-title>{{question.caption}}</mat-card-title>
    <mat-card-content>
        <mat-action-list>
            <mat-list-item *ngFor="let answer of question.answers; let index = index"
                (click)="setAnswer(index)"
            >
                <div class="item-content">
                    <span class="index">{{index+1}}</span>
                    <span class="answer">{{answer}}</span>
                </div>
            </mat-list-item>
        </mat-action-list>
    </mat-card-content>
</mat-card>